//==========================
//	DEBUG
//==========================

	// .anthony {
	// 	border: 1px solid #e6e6e6;
	// }

	// .barbara {
	// 	border: 1px solid #b3b3b3;
	// }

	// .betty {
	// 	border: 1px solid #b3b3b3;
	// }

	// .iosSliderDemo {
	// 	border: 1px blue solid;
	// }
	.inner {
		// border: 1px red dashed;
	}


//==========================
//	IMPORTS
//==========================

	@import url('https://fonts.googleapis.com/css?family=Sintony');

//==========================
//	VARIABLES
//==========================
	
	$main_font_size: 16px;
	$ios_slider_height: 130px;


//===========================
// 	IOS Slider
//===========================

	@font-face {
		font-family: Norican;
		font-weight: normal;
		src: url('../_fonts/norican/Norican-Regular.ttf');
	}

	 img{
		 max-width:100%;
		 height:auto;
		
		 }
	.iosSliderDemo {
		clear: both;
		max-width: 100%;
		/* padding: 0 0 30% 0; */
		// padding: 0 0 430px;
		// padding: 0 0 230px;
		padding: 0 0 $ios_slider_height;		
		margin: 0 0 0 0;
		position: relative;
		height:auto;
		height:auto
	}

	.fluidHeight {
		position: absolute;
		width: 100%;
		// height: 87%;
		// height: 400px;
		height: $ios_slider_height;

		// background:url(../images/New_Slideshow_English.jpg) no-repeat; 
		// background-color: #ccc;
		background-size: cover; 
		
		
	}

	.sliderContainer {
		height: 100%;
		
		padding: 0 0;
	}

	.iosSlider {
		position: relative;
		top: 0;
		left: 0;
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

	.iosSlider .slider {
		width: 100%;
		height: 100%;
	}

	.iosSlider .slider .item {
		width: 100%;
		height: 100%;
		padding: 0 0 0 0;
	}







	.iosSlider {
		.slider {
			.item {

				.inner {


					
					align-items: center;
					background-repeat: no-repeat;
					display: flex;
					height: 100%;
					justify-content: center;
					left: 0;
					margin: 0 auto;
					position: relative;
					top: 0;
					width: 60%;

					.selectorShadow {
						
						bottom: 0;
						height: 30px;
						left: 0;
						position: absolute;
						width: 120px;
					}

					.text1 {
						filter: alpha(opacity=0);
						height: 70px;
						left: 370px;
						opacity: 0.2;
						padding: 0 2px 0 7px;
						// position: absolute;
						// top: 0px;

						span {
							color: red;
						    // font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
						    font-size: 300%;
						    line-height: 73px;
						    padding: 0 8px;
							font-weight:bold;
						}
					}
					.text2 {
						filter: alpha(opacity=0);
						left: 400px;
						opacity: 0;
						padding: 5px 7px 7px;
						// position: absolute;
						// right:0px;
						// top: 100px;

						span {
							// color: blue;
						    // font-family: Verdana, Geneva, sans-serif;
						    font-size: 140%;
						    font-weight: bold;
						    line-height: 140%;
						}
					}
				}
			}
		}
	}

	.iosSlider {
		.slider {
			.item1 {

				&.money {
					color: #229B55;
				}
				

				// .inner {
				// 	background-image: url(../images/money.png);
				// 	background-repeat: no-repeat;
				// 	background-position: 25% 50%;
				// 	background-size: 100px auto;
				// 	// width:100%;
				// 	// height:auto;
					
				// }
			}
			.item2 {
				&.mobile {
					color: #86381C;
				}
				
				// .inner {
				// 	background-image: url(../images/mobile_c.png);
				// 	background-repeat: no-repeat;
				// 	background-position: center center;
				// 	background-size: 100px auto;

				// 	// width:100%;
				// 	// height:auto;
				// }
			}
			.item3 {
				&.computer {
					color: #2E86C1;
				}
				
				// .inner {
				// 	background-image: url(../images/computer.png);
				// 	background-repeat: no-repeat;
				// 	background-position: center center;
				// 	background-size: 100px auto;
				// 	// width:100%;
				// 	// height:auto;
				// }
			}
			.item4 {
				&.alerts {
					color: #E64C3C;
				}
				
				// .inner {
				// 	background-image: url(../images/alert_h.png);
				// 	background-repeat: no-repeat;
				// 	background-position: center center;
				// 	background-size: 100px auto;
				// 	// width:100%;
				// 	// height:auto;
				// }
			}
			.item5 {
				&.security {
					color: #283747;
				}
				
				// .inner {
				// 	background-image: url(../images/security.png);
				// 	background-repeat: no-repeat;
				// 	background-position: center center;
				// 	background-size: 100px auto;
				// 	// width:100%;
				// 	// height:auto;
				// }
			}
			.item6 {
				&.services {
					color: #7D3D97;
				}
			}
		}
	}



	.sliderContainer {
		.slideSelectors {
			position: relative;
			bottom: 20px;
			left: 0;
			width: 1024px;
			margin: 0 auto;
			z-index: 1;
			height: 10px;
		}
	}

	.sliderContainer .slideSelectors .item {
		float: left;
		width: 9px;
		height: 9px;
		border: 1px solid #000;
		background: #999;
		margin: 0 0 0 10px;
		opacity: 0.25;
		filter: alpha(opacity=25);
	}

	.sliderContainer .slideSelectors .selected {
		background: #000;
		opacity: 1;
		filter: alpha(opacity=100);
	}

	.sliderContainer .scrollbarContainer {
		position: relative;
		bottom: 4px;
		left: 0;
		width: 1024px;
		height: 4px;
		margin: 0 auto;
		z-index: 1;
	}





	@media screen and (max-width: 1113px) {
		
		.iosSliderDemo {
			padding-bottom: 40%;
		}
		
		.fluidHeight {
			height: 87%;
		}
		
		.iosSlider .slider .item .inner {
			width: 92%;
			margin: 0 4%;
			background-position: 80% 0;
		}
		
		.sliderContainer .slideSelectors {
			width: 92%;
			margin: 0 4%;
		}
		
		.sliderContainer .scrollbarContainer {
			width: 92%;
			margin: 0 4%;
		}
		
		.iosSlider .slider .item .inner .text1 span {
			color: #c0ddf8;
		    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
		    font-size: 200%;
		    line-height: 73px;
		    padding: 0 8px;
			font-weight:bold;
		}


		.iosSlider .slider .item .inner .text1 {
				top: 30px;
				height: 50px;
				
				 left: 150px;
			}

			
			.iosSlider .slider .item .inner .text2 {
				top: 100px;
				left:200px;
			}
			
		}

		@media screen and (max-width: 768px) {
			
			.iosSlider .slider .item .inner .text1 {
				top: 30px;
				height: 50px;
				
				 left: 150px;
			}
			
			
			
			
			


			
			
			.iosSlider .slider .item .inner .text1 span {
				font-size: 150%;
			    line-height: 53px;
			}
			
			.iosSlider .slider .item .inner .text2 {
				top: 100px;
				left:200px;
			}
			
			.iosSlider .slider .item .inner .text2 span {
				font-size: 80%;
			    line-height: 105%;
			}
			
		}

		@media screen and (max-width: 500px) {
			
			.iosSlider .slider .item .inner .text1 {
				display: none;
			}
			
			.iosSlider .slider .item .inner .text2 {
				display: none;
			}
			
		}


//===========================
//
//===========================

.betty {
	display: flex;
    justify-content: center;
    // padding-bottom: 10px;
}







.christopher {
	// background-color: #ebf5fb;
	display: flex;
    justify-content: center;


 //    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ebf5fb+100&0+0,1+100 */
	// background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(235,245,251,1) 100%); /* FF3.6-15 */
	// background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(235,245,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
	// background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(235,245,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ebf5fb',GradientType=0 ); /* IE6-9 */


	// /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,a0d3f8+100&0+0,1+100 */
	// background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(160,211,248,1) 100%); /* FF3.6-15 */
	// background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(160,211,248,1) 100%); /* Chrome10-25,Safari5.1-6 */
	// background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(160,211,248,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#a0d3f8',GradientType=0 ); /* IE6-9 */

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,d0e9fb+100&0+0,1+100 */
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(208,233,251,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(208,233,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(208,233,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#d0e9fb',GradientType=0 ); /* IE6-9 */

}


.daniel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: -20px;
	padding-bottom: 1em;
}

.david {
	text-align: center;

	//-- v2 --
	&.headline {
		background-color: #1292ed;
		border-radius: 15px;
		margin-bottom: 10px;
		padding: 10px 20px;

		.brian {
			color: #fff !important;
		}
	}
	//-----
}


.donald {
	img {
		transition: all .5s ease-in-out;
		
	}
}



//==========================
//	SEPARATOR (https://codepen.io/igoryen/pen/OxzQqQ)
//==========================

	$height: 16px;
	$halfheight: ($height/2);
	$thickness: 110%; // increase to make the line thicker
	$offset: 4px;
	// $backgroundcolor: #F7F2E2;
	$backgroundcolor: #yellow;

	// $linecolor: #F7A9B9;
	// $linecolor: red;
	$linecolor: #d0e9fb;


	// body {
	// 	background: $backgroundcolor;
	// }

	.zigzag {
		margin-top: -18px;
		margin-bottom: 20px;
		background: $backgroundcolor;
		position: relative;
		height: $height;
		z-index: 1;
		&:before,
		&:after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
	  		right: 0;
		}
		&:before {
			height: ($height - $offset);
			top: $thickness;
			background: linear-gradient(-135deg, $linecolor $halfheight, transparent 0) 0 $halfheight, linear-gradient( 135deg, $linecolor $halfheight, transparent 0) 0 $halfheight;
			background-position: top left;
			background-repeat: repeat-x;
			background-size: $height $height;
		}
		&:after {
			height: $height;
			top: 100%;
			background: linear-gradient(-135deg, $backgroundcolor $halfheight, transparent 0) 0 $halfheight, linear-gradient( 135deg, $backgroundcolor $halfheight, transparent 0) 0 $halfheight;
			background-position: top left;
			background-repeat: repeat-x;
			background-size: $height $height;
		}
	}

//==========================
//	MEDIA QUERIES
//==========================


@media screen and (min-width: 320px) {

	.anthony {
		display: flex;	
		flex-direction: column;
		justify-content: center;
		margin-bottom: 15px;
		margin-top: 10px;
	}

	.anthony, .betty {
		font-family: "Sintony", sans-serif;
	}

	.barbara {
		// background: 	rgba(255, 255, 255, 0%);
		border-radius: 10px;
		// display: flex; // desktop
		display: block;

		font-weight: bold;
		padding: 5px;
		text-align: center;
		transition: all .5s ease-in-out;
		// width: 15%; // desktop
		width: 100%;

	    // flex-direction: column; // desktop
	    flex-direction: row; 


		&.money {
			color: #229B55;
		}
		&.mobile {
			color: #86381C;
		}
		&.computer {
			color: #2E86C1;
		}
		&.alerts {
			color: #E64C3C;
		}
		&.security {
			color: #283747;
		}
		&.services {
			color: #7D3D97;
		}
	}

	.brian {

		// color: #202020;
		color: #094976;
		font-size: $main_font_size;
		

		&.large {
			font-size: $main_font_size * 1.125;
			font-weight: bold;
			margin-bottom: 10px;
		}
	}

	.carol {
		img {
			// width: 6em; // desktop
			float: left; // mobile
			width: 3em; // mobile
    		margin-right: 1em; // mobile
			transition: all .2s ease-in-out;
			// &:hover {
			// 	transform: rotate(30deg);
			// }
		}
	}
	.charles {
		
		font-size: $main_font_size;
		padding: 0 5px;
		text-align: left;

	}

	.deborah {
		margin-left: 0;
		margin-right: 0;
	}

	

	

	#header {
		.header-column {
			align-items: center;
	        display: flex;
	        justify-content: center;

	        div:first-child {
		        float: none;
		        img {
					width: 110px;
				}
		    }
		    div:last-child {
		        float: none;
		        img {
					width: 145px;
				}
		    }


	    }
	   
	}


}

@media screen and (min-width: 500px) {

	.barbara {
		align-items: center;
		display: flex;
	}
	.carol {
		img {
			
		width: 4em; // mobile
    		
		}
	}
	.david {
		line-height: 1.7em;
	}
}



@media screen and (min-width: 1400px) {
	.anthony {
		flex-direction: row;
		justify-content: center;
	}
	.barbara {
		align-items: center;
		flex-direction: column;
		// padding: 5px;
		// text-align: center;
		width: 15%;
	}

	.brian {
		font-size: $main_font_size * 1.125;
		&.large {
			font-size: $main_font_size * 1.5;
		}
	}

	.carol {
		img {
			margin-right: 0;
			width: 6em; // desktop
		}
	}

	.donald {
		padding-right: 1em;
		text-align: right;
		// width: 30%;
		img {
			margin-right: 0;
			// width: 7em; // desktop
			min-width: 6em;
    		max-width: 6em;
		}
	}

	.charles {
		font-size: $main_font_size * 0.875;
		margin-top: 10px; // desktop
		text-align: center;
	}

	.david {
		line-height: 2.2em;
	}

	#header {
		.header-column {

	        div:first-child {
		        img {
					width: 140px;
				}
		    }
		    div:last-child {
		        img {
					width: 196px;
				}
		    }


	    }
	   
	}
}