@import url("https://fonts.googleapis.com/css?family=Sintony");
.betty {
  display: flex;
  justify-content: center; }

.carol.turn {
  -ms-transform: rotate(360deg);
  /* IE 9 */
  -webkit-transform: rotate(360deg);
  /* Chrome, Safari, Opera */
  transform: rotate(360deg);
  transition-duration: .5s; }

.christopher {
  display: flex;
  justify-content: center;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,d0e9fb+100&0+0,1+100 */ }

.daniel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -20px;
  padding-bottom: 1em; }

.david {
  text-align: center; }
  .david.headline {
    background-color: #094976;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 10px 20px; }
    .david.headline .brian {
      color: #fff !important; }

.zigzag {
  margin-top: -18px;
  margin-bottom: 20px;
  background: #yellow;
  position: relative;
  height: 16px;
  z-index: 1; }
  .zigzag:before, .zigzag:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0; }
  .zigzag:before {
    height: 12px;
    top: 110%;
    background: linear-gradient(-135deg, red 8px, transparent 0) 0 8px, linear-gradient(135deg, red 8px, transparent 0) 0 8px;
    background-position: top left;
    background-repeat: repeat-x;
    background-size: 16px 16px; }
  .zigzag:after {
    height: 16px;
    top: 100%;
    background: linear-gradient(-135deg, #yellow 8px, transparent 0) 0 8px, linear-gradient(135deg, #yellow 8px, transparent 0) 0 8px;
    background-position: top left;
    background-repeat: repeat-x;
    background-size: 16px 16px; }

@media screen and (min-width: 320px) {
  .anthony {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 10px; }

  .anthony, .betty {
    font-family: "Sintony", sans-serif; }

  .barbara {
    border-radius: 10px;
    display: block;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    transition: all .5s ease-in-out;
    width: 100%;
    flex-direction: row; }
    .barbara.money {
      color: #229B55; }
    .barbara.mobile {
      color: #86381C; }
    .barbara.computer {
      color: #2E86C1; }
    .barbara.alerts {
      color: #E64C3C; }
    .barbara.security {
      color: #283747; }
    .barbara.services {
      color: #7D3D97; }
    .barbara.lawyer {
      color: #e74c3c; }
    .barbara.signature {
      color: #229954; }

  .brian {
    color: #094976;
    font-size: 16px; }
    .brian.large {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px; }

  .carol img {
    float: left;
    width: 3em;
    margin-right: 1em;
    transition: all .2s ease-in-out; }

  .charles {
    font-size: 16px;
    padding: 0 5px;
    text-align: left; }

  .deborah {
    margin-left: 0;
    margin-right: 0; }

  #header .header-column {
    align-items: center;
    display: flex;
    justify-content: center; }
    #header .header-column div:first-child {
      float: none; }
      #header .header-column div:first-child img {
        width: 110px; }
    #header .header-column div:last-child {
      float: none; }
      #header .header-column div:last-child img {
        width: 145px; } }
@media screen and (min-width: 500px) {
  .barbara {
    align-items: center;
    display: flex; }

  .carol img {
    width: 4em; }

  .david {
    line-height: 1.7em; } }
@media screen and (min-width: 1400px) {
  .anthony {
    flex-direction: row;
    justify-content: center; }

  .barbara {
    align-items: center;
    flex-direction: column;
    width: 15%; }

  .brian {
    font-size: 18px; }
    .brian.large {
      font-size: 24px; }

  .carol img {
    margin-right: 0;
    width: 6em; }

  .charles {
    font-size: 14px;
    margin-top: 10px;
    text-align: center; }

  .david {
    line-height: 2.2em; }

  #header .header-column div:first-child img {
    width: 140px; }
  #header .header-column div:last-child img {
    width: 196px; } }

/*# sourceMappingURL=homeowner_realtor.css.map */
